.maintable {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 142.5px;
    left: 205px;
    width: calc(100vw - 205px);
    padding: none;
}
.bottomdiv {
    font-size: 40px;
}
.texttt {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 205px;
    top: 144px;
    width: calc(100vw - 205px);
    padding: 10px 0px 0px 20px;
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .maintable {
        width: 100%;
        left: 0;
        top: 180px;
        padding: none;
    }
    .texttt {
        display: flex;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 170px;
        width: 100%;
        font-size: 32px;
        font-weight: bold;
    }
}